.personName{
	position: relative;
	background: #fff;
	height: 0.97rem;
	padding: 0 0.3rem 0 0.3rem;
	border-bottom:1px solid #cacaca;
}
.nameInput{
	width: 100%;
	height: 100%;
	color: #333;
	float: left;
}
.personName .close{
	position: absolute;
    right: 0.3rem;
    color: #d4d4d7;
}
.tip{
	color: #c7c7c7;
	margin-top: 0.23rem;
	padding-left:0.3rem;
	font-size: 0.3rem;
}
