header{	overflow: hidden;
}
.headerCls{
	position: relative;
}
section{
	background: #f5f5f5;
	position: absolute;
    left: 0;
    top: 0.9rem;
    bottom: 0;
    right: 0;

}
.searchCont{
	text-align: center;
    padding: 0 0.3rem 0 0.3rem;	
    overflow: hidden;
    height: 100%;
}
.searchBar{
    width: 78%;
    height: 0.57rem;
    position: relative;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 0.18rem 15px 0 0.4rem;
    float: left;
}
.returnButton{
	left: 15px;
}
.searchBar .searchTxt{
    padding: 2.3px 0;
    width: 83%;
    margin-left: 0.1rem;
    font-size: 0.3rem;
}
.ui-icon-search{
	float: left;
    font-size: 0.78rem;
    width: 0.56rem;
    height: 0.57rem;
    line-height: 0.57rem;
    text-align: center;
}
.cancleTxt{
	float: right;
    line-height: 0.88rem;
}  
.cancleTxt a{
	color: #fff;
}
.searchBox{
	position: relative;
	color: #c7c7c7;
    height: 100%;
}
.searchTitle{
    display: inline-block;
    margin-top: 0.66rem;
    padding: 0 0.15rem;
    background: #f5f5f5;
}
.borderTop{
	border-bottom: 1px solid #c8c8c8;
    margin-top: -10px;
}
.historyBox{
	margin-top: 0.45rem;
	font-size: 0.33rem;
	line-height: 0.6rem;
}
/*unSearch页面开始*/
.notFound{
	width: 3.26rem;
	height: 2.07rem;
	margin: 2.15rem auto 0.5rem;
	background: url(backImg/notFound.png) no-repeat center;
	background-size: 100% 100%;
}
